In [79]:
import numpy as np
import pandas as pd

In [80]:
from sklearn.manifold import Isomap, LocallyLinearEmbedding, SpectralEmbedding, TSNE

#### Spectral Embedding

In [91]:
df_org = pd.read_csv("datasets/iris.csv")
df = pd.read_csv("datasets/iris.csv", usecols = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width'])
embedding = SpectralEmbedding(n_components=2)
df_trans = embedding.fit_transform(df)
df_org["Emb_dim1"] = df_trans[:,0]
df_org["Emb_dim2"] = df_trans[:,1]
df_org.to_csv("embedded_datasets/iris_spectrale.csv")
df_org.head()

/home/chris/anaconda3/lib/python3.6/site-packages/sklearn/manifold/spectral_embedding_.py:234: UserWarning: Graph is not fully connected, spectral embedding may not work as expected.
  warnings.warn("Graph is not fully connected, spectral embedding"

,sepal_length,sepal_width,petal_length,petal_width,species,Emb_dim1,Emb_dim2
0,5.1,3.5,1.4,0.2,setosa,0.162884,3.532708e-16
1,4.9,3.0,1.4,0.2,setosa,0.135737,2.042441e-15
2,4.7,3.2,1.3,0.2,setosa,0.144786,2.331468e-15
3,4.6,3.1,1.5,0.2,setosa,0.140261,2.185476e-15
4,5.0,3.6,1.4,0.2,setosa,0.162884,4.710277e-16

#### Isomap

In [92]:
df_org = pd.read_csv("datasets/iris.csv")
df = pd.read_csv("datasets/iris.csv", usecols = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width'])
embedding = Isomap(n_components=2)
df_trans = embedding.fit_transform(df)
df_org["Emb_dim1"] = df_trans[:,0]
df_org["Emb_dim2"] = df_trans[:,1]
df_org.to_csv("embedded_datasets/iris_isomap.csv")
df_org.head()

,sepal_length,sepal_width,petal_length,petal_width,species,Emb_dim1,Emb_dim2
0,5.1,3.5,1.4,0.2,setosa,-0.118155,-0.381038
1,4.9,3.0,1.4,0.2,setosa,-0.113729,-0.323243
2,4.7,3.2,1.3,0.2,setosa,-0.113922,-0.325955
3,4.6,3.1,1.5,0.2,setosa,-0.113904,-0.325207
4,5.0,3.6,1.4,0.2,setosa,-0.117613,-0.372992

#### Locally Linear Embedding

In [93]:
df_org = pd.read_csv("datasets/iris.csv")
df = pd.read_csv("datasets/iris.csv", usecols = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width'])
embedding = LocallyLinearEmbedding(n_components=2)
df_trans = embedding.fit_transform(df)
df_org["Emb_dim1"] = df_trans[:,0]
df_org["Emb_dim2"] = df_trans[:,1]
df_org.to_csv("embedded_datasets/iris_lle.csv")
df_org.head()

,sepal_length,sepal_width,petal_length,petal_width,species,Emb_dim1,Emb_dim2
0,5.1,3.5,1.4,0.2,setosa,0.0,0.0
1,4.9,3.0,1.4,0.2,setosa,0.0,0.0
2,4.7,3.2,1.3,0.2,setosa,0.0,0.0
3,4.6,3.1,1.5,0.2,setosa,0.0,0.0
4,5.0,3.6,1.4,0.2,setosa,0.0,0.0

#### t-SNE

In [94]:
df_org = pd.read_csv("datasets/iris.csv")
df = pd.read_csv("datasets/iris.csv", usecols = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width'])
embedding = TSNE(n_components=2)
df_trans = embedding.fit_transform(df)
df_org["Emb_dim1"] = df_trans[:,0]
df_org["Emb_dim2"] = df_trans[:,1]
df_org.to_csv("embedded_datasets/iris_tsne.csv")
df_org.head()

,sepal_length,sepal_width,petal_length,petal_width,species,Emb_dim1,Emb_dim2
0,5.1,3.5,1.4,0.2,setosa,23.146156,-12.451201
1,4.9,3.0,1.4,0.2,setosa,20.512039,-13.004954
2,4.7,3.2,1.3,0.2,setosa,20.577831,-11.898195
3,4.6,3.1,1.5,0.2,setosa,20.152639,-12.275174
4,5.0,3.6,1.4,0.2,setosa,23.168417,-12.856153